/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1600px) {

}

@media only screen and (max-width : 1199px) {
	header h1{ font-size:32px; }
	header .phone-callback { padding-top: 0; }
	header .phone-callback a{ margin-top: 3px; }
}

@media only screen and (max-width : 991px) {
		header h1{ font-size:30px; }
		header .h-right {padding: 0;}
		header .separator {margin:0;}
		.widget_shopping_cart { right: 15px; }
	.alex-content .products li:nth-child(4n+1) { clear: none; }
	.alex-content .products li:nth-child(3n+1) { clear: left; }
	.alex-content { padding-right: 0; padding-left: 0; }
  .h-cart {
	    margin-bottom: 6px;
	}
	.widget_shopping_cart {
	    margin-top: -42px;
	}

	.single_product .product_title{ font-size: 33px; }
	.single_product .summary { padding-left: 0; }

}

@media only screen and (max-width : 767px) {
	/*header{ text-align: center; margin:0 auto; }*/
	header img{ margin:0 auto; }
	header .phone-callback {text-align: center;}
	header .separator {padding-bottom: 31px;}
	header .h-right > div { margin: 0 auto; display: table; }
	/*.widget_shopping_cart { margin-top:-45px; }*/
	.alex-content .products a{ display: table;  margin-left: auto; margin-right: auto; }
	.alex-content .products li:nth-child(4n+1) { clear: none; }
	.alex-content .products li:nth-child(3n+1) { clear: none; }
	.alex-content .products li:nth-child(2n+1) { clear: left; }
    .checkout input, .checkout select, .checkout textarea,
    .woocommerce .checkout .select2-container { width: 60% !important; }
    .checkout input[type="submit"]{ width: auto !important; }
    .cart .product-name { width: auto; }


}

@media only screen and (max-width : 479px) {

	.alex-content .products li{ 
		float: none; text-align: center;
		 margin-left: auto; margin-right: auto; 
		width: 100%;
	}

	#owl-home-slider .owl-controls .owl-page span {
	    width: 10px;
	    height: 10px;
	    margin: 10px 10px 0 0;
   }

   #owl-home-slider .owl-controls{ padding-right: 20px !important; }
   .alex-table-responsive { 
	    width: 100%;
	    padding: 0 0 20px 0;
	    overflow-x: scroll;
	}
   table.cart{ width: 500px; }
   .cart .product-remove {  padding-left: 20px; }
   .cart .actions { padding-bottom: 20px; }
   .cart th { padding-right: 10px; }
   .jspHorizontalBar { height: 8px; }
   .jspDrag { background: #266d9e; }

    .checkout input, .checkout select, .checkout textarea,
    .woocommerce .checkout .select2-container { width: 100% !important; }
    .checkout input[type="submit"]{ width: auto !important; }
	
	.widget_shopping_cart {width: 300px; }
	.mini_cart_item{ clear: both; }
	.mini_cart_item .wrap_img_title{ line-height: 40px; overflow: hidden;}
    .mini_cart_item a span{ float: left; }
    .mini_cart_item .mc_prod_name{    
	     line-height: 13px;
	    width: 73%;
	    display: block;
	    padding: 5% 0;
     }
    .minicart-content .quantity { clear: both; }
    #call_me,#fast_buy{ width: 96% !important; display: block; }
    #call_me {height: 250px !important;}
    #fast_buy {height: 295px !important;}
    #call_me input,#fast_buy input{ width: 100% !important; }
    #call_me .popup-modal-dismiss, #fast_buy .popup-modal-dismiss{ font-size: 22px; }

}





@media only screen and (min-width : 990px) and (max-width : 1200px) {

}


